language: cpp

compiler:
  - clang
  - gcc

addons:
 apt:
   sources:
     - llvm-toolchain-precise
     - ubuntu-toolchain-r-test
   packages:
     - g++-5
     - clang-3.8
     - cmake
     - lcov
     - libobjc2
     - gobjc++-5
     - gnustep-devel
     - libdispatch-dev

before_install:
  - gem install coveralls-lcov
  # pwd ~> HOME/test
  - cd ./test

install:
  - if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5" COVERAGE_REPORT=1; fi
  - if [ "$CXX" = "clang++" ]; then export CXX="clang++-3.8" CC="clang-3.8" COVERAGE_REPORT=1; fi
  - $CXX --version
  - cmake .
  - make all

script:
  - make run_test


